body {
  color: #fff;
  font-family: 'Roboto Condensed', sans-serif;
  background: #000;
  background-position: center top;
  background-size: auto;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.headline {
  text-align: center;
  font-size: 100px;
  padding-top: 100px;
}
section {
  margin-top: 150px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 1500px;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 0px;
}

.icon {
  display: flex;
}

a {
  display: block;
}

i {
  transition: 0.3s;
}

a:hover i:nth-child(1) {
  color: #ffffff;
}

a:hover i:nth-child(2) {
  color: #1676e4;
}

i:nth-child(1) {
  color: #1676e4;
}

/*При наведении*/
.bloks {
  width: 100%;
  max-width: 450px;
  /* опционально */
  margin: 10px;
  opacity: 1;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  -webkit-box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
  -moz-box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
  box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.bloks:before {
  content: '';
  background: -webkit-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.9) 100%);
  background: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.9) 100%);
  width: 100%;
  height: 50%;
  opacity: 0;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 2;
  -webkit-transition-property: top, opacity;
  transition-property: top, opacity;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

.bloks:hover img {
  filter: blur(3px);
}

.bloks img {
  display: block;
  width: 90%;
  /* ширина картинки */
  height: auto;
  /* высота картинки */
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

.bloks .caption {
  width: 100%;
  padding: 30px 0px;
  color: #fff;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 3;
  text-align: center;
}
/*Animation*/
.bloks .caption span {
  display: block;
  opacity: 0;
  position: relative;
  top: 100px;
  -webkit-transition-property: top, opacity;
  transition-property: top, opacity;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}

.bloks .caption .title {
  line-height: 1;
  font-weight: normal;
  font-size: 24px;
}

.bloks .caption .info {
  line-height: 1.2;
  margin-top: 5px;
  font-size: 18px;
}

.bloks:focus:before,
.bloks:focus span,
.bloks:hover:before,
.bloks:hover span {
  opacity: 1;
}

.bloks:focus:before,
.bloks:hover:before {
  top: 50%;
}

.bloks:focus span,
.bloks:hover span {
  top: 0;
}

.bloks:focus .title,
.bloks:hover .title {
  -webkit-transition-delay: 0.15s;
  transition-delay: 0.15s;
}

.bloks:focus .info,
.bloks:hover .info {
  -webkit-transition-delay: 0.25s;
  transition-delay: 0.25s;
}

#text_about{
  text-align: center;
  font-size: 25px;
  padding-left: 450px;
  padding-right: 450px;
}

footer div a{
  text-decoration: none;
  color: #272424;
}

